<p-toast></p-toast>

<div class="p-grid p-jc-center p-shadow-5">
    <div class="p-col-9">
            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2"
                            (click)="criarProduto()"></button>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="produtos" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['titulo','estudio','status','progresso', 'nota']" [rowHover]="true"
                    dataKey="_id" currentPageReportTemplate="Mostrando {first} de {last} no total de {totalRecords}"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">Lista de Produtos</h5>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Pesquisar..." />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="Nome">Titulo<p-sortIcon field="nome"></p-sortIcon>
                            </th>
                            <th pSortableColumn="Tipo">Progresso<p-sortIcon field="tipo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="Preco">Estudio<p-sortIcon field="preco"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-produto>
                        <tr>
                            <td>{{produto.nome}}</td>
                            <td>{{produto.tipo}}</td>
                            <td>{{produto.preco}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editProduto(produto)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduto(produto)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            No total, existem {{produtos ? produtos.length : 0 }} produtos.
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <p-dialog [(visible)]="produtoDialogo" [style]="{width: '450px'}" header="Detalhes do Produto" [modal]="true"
                styleClass="p-fluid" [closable]="false">
                <ng-template pTemplate="content">
                    <div class="p-field">
                        <label for="nome">Nome</label>
                        <span _ngcontent-emx-c135="" class="p-input-icon-right">
                            <i _ngcontent-emx-c135="" class="pi pi-check"></i>
                            <input type="text" pInputText id="nome" [(ngModel)]="produto.nome" required autofocus />
                        </span>
                        <small class="p-error" *ngIf="submetido && produto.nome === ''">Nome é requirido.</small>
                    </div>
                    <div class="p-field">
                        <label for="tipo">Tipo</label>
                        <p-dropdown appendTo="body" [(ngModel)]="produto.tipo" inputId="tipo" [options]="tipo"
                            required placeholder="Selecione">
                        </p-dropdown>
                        <small class="p-error" *ngIf="submetido && produto.tipo === ''">Tipo é requirido.</small>
                    </div>
                    <div class="p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="preco">Preço</label>
                            <p-inputNumber id="preco" [(ngModel)]="produto.preco" [showButtons]="true" [min]="0" value=0>
                            </p-inputNumber>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"
                        (click)="saveProduto()"></button>
                </ng-template>
            </p-dialog>

            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>