<p-toast></p-toast>

<div class="p-grid p-jc-center p-shadow-5">
    <div class="p-col-9">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="criarFornecedor()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="fornecedores" [rows]="4" [paginator]="true"
                [globalFilterFields]="['nome','produto','valorLote']" [rowHover]="true" dataKey="_id"
                currentPageReportTemplate="Mostrando {first} de {last} no total de {totalRecords}"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Lista de Fornecedores</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Pesquisar..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Nome">Nome<p-sortIcon field="nome"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Produto">Produto<p-sortIcon field="produto"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ValorLote">Valor do Lote<p-sortIcon field="valorLote"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fornecedor>
                    <tr>
                        <td>{{fornecedor.nome}}</td>
                        <td>{{fornecedor.produto}}</td>
                        <td>{{fornecedor.valorLote}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="editFornecedor(fornecedor)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteFornecedor(fornecedor)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        No total, existem {{fornecedores ? fornecedores.length : 0 }} fornecedores.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="fornecedorDialogo" [style]="{width: '450px'}" header="Detalhes do Fornecedor" [modal]="true"
            styleClass="p-fluid" [closable]="false">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="nome">Nome</label>
                    <span _ngcontent-emx-c135="" class="p-input-icon-right">
                        <i _ngcontent-emx-c135="" class="pi pi-check"></i>
                        <input type="text" pInputText id="nome" [(ngModel)]="fornecedor.nome" required autofocus />
                    </span>
                    <small class="p-error" *ngIf="submetido && fornecedor.nome === ''">Nome do fornecedor é
                        requirido.</small>
                </div>
                <div class="p-field">
                    <label for="produto">Produto</label>
                    <span _ngcontent-emx-c135="" class="p-input-icon-right">
                        <i _ngcontent-emx-c135="" class="pi pi-check"></i>
                        <input type="text" pInputText id="produto" [(ngModel)]="fornecedor.produto" required autofocus />
                    </span>
                    <small class="p-error" *ngIf="submetido && fornecedor.produto === ''">Nome do produto é
                        requirido.</small>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="valorLote">Valor do Lote</label>
                        <p-inputNumber id="valorLote" [(ngModel)]="fornecedor.valorLote" [showButtons]="true" [min]="0" value=0>
                        </p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"
                    (click)="saveFornecedor()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>